.edit-btn{
    width: 200px;
    margin: 5px 0 ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    background-color: #555555;
    color: white;
    padding: 6px;
    cursor: pointer;
}
.edit-btn:hover{
    background-color: #282c34;
}

.back{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.user-profile-container {
    overflow: hidden;
    max-width: 975px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    /*background-color: lightgray;*/
}
.user-data{
    color: #555555;
    line-height: 10px;
    font-weight: 500;
    font-size: 18px;
}

.user-profile-header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.user-profile__logo {
    margin: 0 3rem;

}

.greed {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 15px;

}
.user-profile__posts{
    margin: 0 auto;

}

.user-profile__description {
    display: flex;
    justify-content: space-between;
    width: 24rem;

    div {
        height: 1.7rem;
    }
}

.no-photo {
    font-weight: 500;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 32px;
}

.create-post {
    color: lightslategray;
}
.create-post:hover{
    color: #282c34;
    text-decoration: underline;
}
.posts__image{
    margin-top: 1rem;
    width: 22rem;
    height: 22rem;
    width: 100%;
    height: 293px;
    object-fit:cover;
    background-size: cover;
}
.user-profile__posts {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5px;
}


@media screen and (max-width: 1067px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 65%;
        grid-template-columns: 50% 50% ;
    }
}
@media screen and (max-width: 954px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 70%;
        grid-template-columns: 50% 50% ;
    }
}

@media screen and (max-width: 854px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 80%;
        grid-template-columns: 50% 50% ;
    }
}
@media screen and (max-width: 754px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 90%;
        grid-template-columns: 50% 50% ;
    }
}

@media screen and (max-width: 654px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 100%;
        grid-template-columns: 50% 50% ;
    }
}

@media screen and (max-width: 602px) {
    .user-profile__posts {
        margin: 0 auto;
        width: 100%;
        grid-template-columns: 100% ;
    }

    .post__container-head {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-profile__description {
        display: flex;
        flex-direction: column;
        text-align: left;

        p {
            line-height: 2px;
        }
    }

    .user-profile__logo {
        img {
            width: 30rem;
            margin-left: 5rem;
            width: 8rem;
            height: 8rem;
            border-radius: 4rem;
        }
    }

}

@media screen and (max-width: 500px) {
    .edit-btn {
        width: 9.2rem;
    }

    .greed{
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: repeat(1, 90vw);
    }

    #create__post-btn {
        width: 7rem !important;
        font-size: 8px;
        font-weight: bolder;
    }


}

