.post-modal__header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgba(160, 160, 160, 0.7) 1px solid;

  &__author {
    display: flex;
    align-items: center;
    min-width: 400px;
    user-select: none;
    font-size: 20px;
    font-weight: bold;

    &-img {
      margin-right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      border-radius: 50%;
      overflow: hidden;

      & img {
        width: 100%;
      }
    }
  }
}