.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content-description-text {
    word-break: break-all;
}

.comment__container {
    width: 40rem;
    overflow-y: scroll;
    max-height: 26rem;
}
.modal-body{
    justify-content: flex-start !important;
}

.body__contant {
    justify-content: space-around !important;
}

.footer__modal-icon{
    justify-content: space-around;
    align-items: center;
    display: flex;

    svg {
        margin: 0 1rem;
    }
}

.footer__modal {
    position: relative;
    bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__content {
    margin : 0 4rem !important;
}

.modal__content.active{

    transform: scale(1);
}

.modal {
    z-index: 3;
    max-height: 100% !important;
    position: relative;
}

.kGEMwH {
    z-index: 3;
    background-color: white !important  ;
}
.modal__content{
    position: relative;
    z-index: 3;
    border: 1px solid gray ;
    width: 78%;
    margin: 1rem 0 !important;


    &-box {
        display: flex;
    }

    &-avatar {
        width: 4rem ;
        height: 4rem ;
        margin: 0.4rem 2rem;
    }

    &-text {
        font-weight: bold;
    }

    &-popup {
        position: relative;
        left: 17rem;
        top: 1rem;
    }

    &-description {
        width: 70% ;
        backgroundColor: #ebe8e8;
        position: relative;
        left: 7rem;
        bottom: 1rem;
        paddingBottom: 2rem;
    }

    &-description-text {
        padding: 5px;
    }
}

.gLsPBe {
    width: 60rem !important;
}

@media screen and (max-width: 800px) {
    .gLsPBe {
        width: 40rem !important;
    }
    .body__contant {
        align-items: center;
        display: flex;
        flex-direction: column !important;

        img {
            margin-bottom: 2rem !important;
        }
    }
    .cEOYka {
        height: 5rem !important;
        display: flex;

        h5 {
            position: relative;
            bottom: 1rem;
        }
    }

}

@media screen and (max-width: 460px) {
    .gLsPBe {
        width: 20rem !important;
        padding-bottom: 4rem;
        background-color: white;
    }
    .body__contant {
        img {
            height: 15rem !important;
            width: 15rem !important;
            position: relative;
        }
    }
    .modal__content {
        width: 100%;
    }

    .jVljJs {
        background-color: white;
        padding-bottom: 3rem;
        width: 75% !important;
    }

    .body__contant{
        width: 19rem;
    }

    .footer__modal{
        bottom: -1rem;
        flex-direction: column;
    }

    .footer__modal-icon {
        position: relative;
        bottom: 1rem;
        right: 2rem;
    }

    #sub__modal{
        width: 8rem !important;
        position: relative;
        bottom: 1rem;
    }

    #field__btn {
        position: relative;
        bottom: 1rem;
    }

    .comment__container{
        width: 15rem;
        bottom: 7rem;
        position: absolute;
        max-height: 7rem !important;
    }

}