#toast-container {
    position: relative;
    top: -3rem !important;
    right: 1rem !important;
    left: auto !important;
}
.mycard {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30rem;
    margin: 0 auto;
}

.input-field   {
    padding: 0 20px;
}

.card {
    display: flex;
    flex-direction: column;
}

h5{
    font-size: 1rem;
    text-align: center;
}