.post-modal {
  display: flex;
  height: 600px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  &__img {
    height: 100%;

    & img {

      height: 5rem;
      object-fit:cover;
      background-size: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}