.back{
    /*background-color: lightgray;*/
    height: 100vh;
}
.user-profile-container {
    max-width: 975px;
    margin: 0 auto;
    padding-top: 100px;
    /*background-color: lightgray;*/
}
.user-data{
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

.user-profile-header {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.user-profile__logo {
    /*width: 160px;*/
    /*height: 160px;*/
    /*border-radius: 80px;*/
}

.user-profile__description {
    display: flex;
    justify-content: space-between;
    width: 24rem;
}

.no-photo {
    font-weight: 500;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 32px;
}

.create-post {
    color: lightslategray;
}
.create-post:hover{
    color: #282c34;
    text-decoration: underline;
}
.posts__image{
    margin-top: 2rem;
    width: 22rem;
    height: 22rem;
    /*width: 293px;*/
    /*height: 293px;*/
    object-fit:cover;
    background-size: cover;
}
.greed {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 15px;
}

@media screen and (max-width: 1067px) {
    .user-profile__posts {
        grid-template-columns: 50% 50% ;
    }
}

