
.auth__container {
    width: 100%;
    height: 100vh;
    min-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;


    &-signin {
        margin-right: 4rem;
    }


    &-flex {
        display:flex;
        justifyContent: center !important;
        alignItems: center;

        img {
            margin: 0 auto;
            width: 60%;
        }
    }



    @media screen and (max-width: 720px) {
        &-flex {
            img {
                display: none;
            }
        }

        &-signin {
            margin-right: 0;
        }
    }

}
