#user__btn_sub {
  margin-top: -20px !important;
  width: 350px !important;
}


@media screen and (max-width: 628px) {
  .addPost {
    justify-content: flex-start !important;
    padding: 20px 0  !important;
  }
  .user__profile-container {
    position: relative;
  }

  #user__btn_sub {
    width: 9rem !important;
  }
}