.sidebar {
  margin-right: 2rem;
  height: 100%;
  max-width: 290px;
  position: sticky;
  top: 120px;
  //display: block;

  &__profile {
    display: grid;
    grid-template-columns: 60px auto;
    grid-column-gap: 15px;
    align-items: center;

    &__photo {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 50%;

      & img {
        width: 100%;
      }
    }




    &__info {

      &--username {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
      }

      &--name {
        font-size: 18px;
        color: rgba(142, 142, 142, 1);
      }
    }
  }

  &__recommends {
    margin: 30px 0;

    &__header {
      color: rgba(142, 142, 142, 1);
      font-weight: bold;
    }


    &__item {
      margin: 15px 0;
      display: grid;
      grid-template-columns: 44px auto 100px;
      grid-column-gap: 5px;
      align-items: center;

      &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid rgba(219, 219, 219, 1);

        & img {
          width: 100%;
        }
      }

      &__info {
        max-width: 190px;

        &--username {
          display: inline-block;
          margin-bottom: 1px;
          color: rgba(0, 0, 0, 1);
          font-size: 14px;
          font-weight: 400;
        }

        &--name {
          font-size: 12px;
          color: rgba(142, 142, 142, 1);
        }
      }

      &__subscribe {
        width: 150px;
        border-radius: 3px;
        border: none;
        padding: 7px;
        background-color: dodgerblue;
        color: #f4f4f4;
        cursor: pointer;
      }
      &__subscribe:hover{
        background-color: deepskyblue;
      }
      &__unsubscribe {
        width: 150px;
        border-radius: 3px;
        border: none;
        padding: 7px;
        background-color: darkgray;
        color: black;
        cursor: pointer;
      }
      &__unsubscribe:hover{
        background-color: #e0e0e0;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .sidebar__profile {
    display: none;
  }
  .sidebar {
    position: initial;
    margin-right: 0;
  }

  .sidebar__recommends__item__unsubscribe {
    width: 100px;
  }
}