 .forgot__password-container {
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   min-width: 380px;
   height: 100vh;

    &-ico {
    display: flex;
     justify-content: center;
    }

  &-lock {
    position: relative;
    bottom: 2rem;
    transform: scale(7);
    margin-top: 7rem;
  }

 }

 .row {

   p {
      font-size: 1.2rem;
     font-weight: bold;
     text-align: center;
     margin-top: 2rem;
   }

   h6 {
     font-size: 1rem;
     padding: 0 1.5rem;
     text-align: center;
   }
 }

 .log_sign {

   p {
     text-align: center;
     padding: 1rem 0.5rem;
   }

   &-link {
    padding: 0 0.5rem;
   }
 }