.footer__modal {
  display: flex;
  justify-content: space-between;

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-weight: bolder;
      padding-left: 2rem;
    }
  }


}


@media screen and (max-width: 800px) {
  .footer__modal{
    margin-bottom: 2rem;
  }

  .footer__modal-icon {
    position: relative;
    bottom: 2rem;

    p {
      padding: 0;
    }
  }

  #field__btn{
    position: relative;
    bottom: 3rem !important;
  }


}

@media screen and (max-width: 489px) {
  .footer__modal {
    display: flex;
    flex-direction: column;
  }
  #field__btn{
    position: relative;
    bottom: 3rem !important;
    right: 4rem;
  }


}
