.post-container {
  padding: 2rem 15rem 0 3rem ;
  margin-right: 10px;
  width: 100%;

  &__message {
    color: rgba(142, 142, 142, 1);
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 678px) {
  .post-container {
    padding: 0;
    margin-right: 0;
    width: 100%;
  }
}