.post__container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

  &:hover .post__container-body {
    display: block;
  }

  &-head {
    width: 100%;
    position: relative;
  }

  &-body {
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 93%;
    width: 100%;
    top: 5%;

  }
}