.get__link {
  display: flex;
  justify-content: center;
}

.forgot__line{
  padding: 1rem 0;
  font-size: 1em;

  h5 {
      font-size: 1em;
  }
}

.create__account {
  text-align: center;
  padding-bottom: 1rem;
}
