.login_auth_container {
    display: flex;
    flex-direction: column;
}

.login_auth-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 380px;
    flex-direction: column;
}

#toast-container {
    top: 1rem !important;
    right: 1rem !important;
    left: auto !important;
}
input {
    padding: 0 15px !important;
    width: 20rem !important;
}
.col .row {
    margin: 0 !important;
}

.login_auth {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width: 25rem;

}
.row {
    margin: 0 !important;

    p {
      font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

.login__form {
    border: 1px solid #a7a4a4;
    width: 100%;
}

.row__container {
    display: flex;
    justify-content: center;

    img {
        width: 12rem;
    }
}

.line {
    display: flex;
    flex-direction: row;
}
.line:before, .line:after{
    content: "  ";
    flex: 1 1;
    border-bottom: 1px solid #a1a0a0;
    margin: auto;
}
.line:before {
    margin: 10px 5px;
}
.line:after {
    margin: 10px 5px;
}

.log_sign{
    margin-top: 10px ;
    width: 25rem;
    border: 1px solid #a7a4a4;
}

.log_sign-text {
    text-align: center;
    padding: 1rem 0.5rem;
}
.log_sign-link {
    padding: 0 0.5rem;
}

.log_sign p {
    text-align: center;
    padding: 1rem 0.5rem;
}

.login__row{
    display: flex;
    justify-content: center;
}

.login__row img {
    width: 12rem;
}

.signin__container {
    display: flex;
    justify-content: center;
}
.or__line{
    padding: 1rem 0;
    font-size: 1em;
}

.forgot__password-text {
    text-align: center;
}

.link__signup{
    padding: 0 0.5rem;
}

@media screen and (max-width: 720px) {
    .login__row img {}
}