.main-page {
  padding: 120px 0 10px 0;

  &__inner {
    display: flex;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  width: 88%;
}
@media screen and (max-width: 678px) {
  .main-page__inner {
    display: flex;
    flex-direction: column-reverse !important;
  }

}

@media (min-width: 678px) and (max-width: 900px) {

  .main-page__inner {
    display: flex;
    width: 70%;
  }
}