.loading-container{
    margin: 0 auto;
    padding-bottom: 250px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.loading-container__item{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}